@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-3">Ultimate campaign management system.</h1>
            </div>
            <div class="col-md-6">
                <p>Project Manticore will be going live soon. Enter your email below to be notified!</p>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="my-4">
                <p class="lead">Project Manticore is built as a powerful campaign management system for tabletop RPGs.</p>
            </div>
        </div>
    </div>
</div>