@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Project Manticore is almost ready! Check back soon.</p>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">support@campaigndomain.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">admin@campaigndomain.net</a>
</address>
